CertifyMe.Client/Service References/CompanyServiceReference/CompanyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CertifyMe.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CertifyMe.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:36528/CompanyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Company">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DmBaseOfCompanyuL7agKBo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="DmBaseOfCompanyuL7agKBo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DmBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CertifyMe.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Company" Namespace="http://schemas.datacontract.org/2004/07/CertifyMe.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DmBaseOfCompanyuL7agKBo" nillable="true" type="tns:DmBaseOfCompanyuL7agKBo" />
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
</xs:schema>